@font-face {
  font-family: 'source_sans_proregular';
  src: url('../../polices/sourcesanspro-regular-webfont.woff2') format('woff2'),
       url('../../polices/sourcesanspro-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'quickmockup';
  src: url('../../polices/quickmockup.woff2?58501005') format('woff2'),
       url('../../polices/quickmockup.woff?58501005') format('woff');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'quickmockup';
    src: url('../../polices/quickmockup.svg?58501005#quickmockup') format('svg');
  }
}
*/